# Dependencies
node_modules/
*/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & temp files
scratch/
.tempmediaStorage/
